@import url(https://db.onlinewebfonts.com/c/021f3eb1da35b2a042907dc870c00b9c?family=Twentieth+Century+W01+XtraBdCn);
@font-face {
  font-family: "Twentieth Century W01 XtraBdCn";
  src: url("https://db.onlinewebfonts.com/t/021f3eb1da35b2a042907dc870c00b9c.eot");
  src: url("https://db.onlinewebfonts.com/t/021f3eb1da35b2a042907dc870c00b9c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/021f3eb1da35b2a042907dc870c00b9c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/021f3eb1da35b2a042907dc870c00b9c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/021f3eb1da35b2a042907dc870c00b9c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/021f3eb1da35b2a042907dc870c00b9c.svg#Twentieth Century W01 XtraBdCn")
      format("svg");
}
@import url(https://db.onlinewebfonts.com/c/6138beb83221f6eb46ed08543a304d1d?family=Twentieth+Century);
@font-face {
  font-family: "Twentieth Century";
  src: url("https://db.onlinewebfonts.com/t/6138beb83221f6eb46ed08543a304d1d.eot");
  src: url("https://db.onlinewebfonts.com/t/6138beb83221f6eb46ed08543a304d1d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6138beb83221f6eb46ed08543a304d1d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/6138beb83221f6eb46ed08543a304d1d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/6138beb83221f6eb46ed08543a304d1d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/6138beb83221f6eb46ed08543a304d1d.svg#Twentieth Century")
      format("svg");
}
body {
  background-image: url(./assets/wallpaperflare.com_wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.register {
  margin-top: 100px;
}
.register__outer_box {
  margin: 0 auto;
  -webkit-box-shadow: 8px 14px 31px 7px rgba(156, 205, 219, 0.55);
  -moz-box-shadow: 8px 14px 31px 7px rgba(156, 205, 219, 0.55);
  box-shadow: 8px 14px 31px 7px rgba(156, 205, 219, 0.55);
}
.register__outer_box__inner_box__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__outer_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__outer_box__inner_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__outer_box__inner_box__inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  margin-top: 70px;
}

.register__outer_box__inner_box__title__text {
  font-size: 60px;
  font-weight: 700;
  font-family: "Twentieth Century";
  margin: 0 0 0 0;
}
.register__outer_box {
  width: 700px;
  height: 600px;
  background-color: #b8edfd;
}
/* inputs */
.register__outer_box__inner_box__inputs__login,
.register__outer_box__inner_box__inputs__password,
.register__outer_box__inner_box__inputs__username,
.register__outer_box__inner_box__inputs__r_password {
  width: 300px;
  height: 35px;
  color: black;
  box-sizing: border-box;
  padding-left: 10px;
  border: #e63333 solid;
  border-left: none;
  border-right: none;
  border-top: none;
  outline: none;
}
.register__outer_box__inner_box__inputs__register_btn {
  width: 150px;
  height: 40px;
  background-color: none;
  outline: none;
  border: none;
  transition-duration: 0.4s;
  text-transform: uppercase;
  font-weight: 700;
}
.register__outer_box__inner_box__inputs__register_btn:hover {
  background-color: #fff200;
  color: black;
}

.register__outer_box__home_link {
  margin-top: 30px;
  width: 120px;
  height: 25px;
  background-color: #fff;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register__outer_box__home_link:hover {
  background-color: black;
}
.register__outer_box__home_link:hover .register__outer_box__home_link__a {
  color: #ffffff;
}
.register__outer_box__home_link__a {
  font-size: 15px;
  font-family: "Twentieth Century";
  font-weight: 700;
  text-decoration: none;
  color: black;
  transition-duration: 0.4s;
}
